<style>
.TOPNAV .CREATECHART  {
    border-style: solid;
    border-radius: 9px;
}



</style>

{% extends 'base.html' %}

{% block content %}

<h3>Create Your Own Favorite chart !!</h3>
<br> <br>


<!--chart maker-->
<div class="chart">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>MON</th>
                <th>TUE</th>
                <th>WEDN</th>
                <th>THUR</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>

            <tr>
                <th>BREAKFAST</th>
                <td >
                
                <select  onchange="this.form.submit()" name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option name="Snack"  value="{{data.snacks.id}}">{{data.snacks}} </option>
                    
                    {% endfor %}
                    
                   
                </select>
               

                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td ><select name="breakfast" id="breakfast">
                    <option> Choose </option>
                   {% for data in dataset3 %}
                    <option value="{{data.snacks.id}}">{{data.snacks}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                   
                </select>
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
            </tr>

            <tr>
                <th>LUNCH</th>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Veggie </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Salad <br><br>

                </td>
            </tr>

            <tr>
                <th>DINNER</th>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sabzi </option>
                   {% for data in dataset1 %}
                    <option value="{{data.fullname.id}}">{{data.fullname}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                   {% for data in dataset2 %}
                    <option value="{{data.gravy.id}}">{{data.gravy}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                <select name="breakfast" id="breakfast">
                    <option> Sweets </option>
                   {% for data in dataset4 %}
                    <option value="{{data.sweets.id}}">{{data.sweets}} </option>
                    {% comment %} <option value="">mango </option> {% endcomment %}
                    {% endfor %}
                    
                </select>
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                
            </tr>
        </thead>
    </table>
</div>

<br><br>

<div class="deploy">
    <button >
        Add To Post
    </button>
</div>

{% endblock %}