

.cards{
    border-style: solid
    border-radius: 13px
}
</style>
{% extends 'base.html' %}

{% block content %}
<div class = "cards">
<div class="username"><h3>TANISH GOYAL</h3></div>


<div class="chart">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>MON</th>
                <th>TUE</th>
                <th>WEDN</th>
                <th>THUR</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>

            <tr>
                <th>BREAKFAST</th>
                <td >Sprouts
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Idli-Sambhar
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                CornFlakes
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Uttpam
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                Channa-Chart
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Fruits
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                 Parantha
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
            </tr>

            <tr>
                <th>LUNCH</th>
                <td >
                <br>
               
                   Alu-Sabzi
                    
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                
                <td >
                <br>
                Alu-Gobi
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Chole
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                
                   Pyaz-Tamatar
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Shahi-Panner
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Tawa-Veg
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Moong-Dal
                <br>Roti <br> Pickle<br> Salad <br><br>

                </td>
            </tr>

            <tr>
                <th>DINNER</th>
                <td >
                <br>
                Arhar-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Kheer
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Veg-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Gulab-Jamun
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Egg-Curry
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Malpua
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Masoor-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Rasbarry
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Kadi-Pakodi
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Icecream
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Rajma
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Mala-Burfi
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Malai-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Chocolate
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                
            </tr>
        </thead>
    </table>
</div>
<br>
<div class="comments">Add Comments</div>

</div>
<hr>
<div class = "cards">
<div class="username"><h3>PARTH PORWAL</h3></div>


<div class="chart">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>MON</th>
                <th>TUE</th>
                <th>WEDN</th>
                <th>THUR</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>

            <tr>
                <th>BREAKFAST</th>
                <td >Sprouts
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Idli-Sambhar
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                CornFlakes
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Uttpam
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                Channa-Chart
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Fruits
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                 Parantha
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
            </tr>

            <tr>
                <th>LUNCH</th>
                <td >
                <br>
               
                   Alu-Sabzi
                    
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                
                <td >
                <br>
                Alu-Gobi
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Chole
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                
                   Pyaz-Tamatar
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Shahi-Panner
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Tawa-Veg
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Moong-Dal
                <br>Roti <br> Pickle<br> Salad <br><br>

                </td>
            </tr>

            <tr>
                <th>DINNER</th>
                <td >
                <br>
                Arhar-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Kheer
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Veg-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Gulab-Jamun
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Egg-Curry
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Malpua
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Masoor-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Rasbarry
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Kadi-Pakodi
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Icecream
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Rajma
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Mala-Burfi
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Malai-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Chocolate
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                
            </tr>
        </thead>
    </table>
</div>
<br>
<div class="comments">Add Comments</div>

</div>
<hr>
<div class = "cards">
<div class="username"><h3>SAKSHI GOYANKA</h3></div>


<div class="chart">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>MON</th>
                <th>TUE</th>
                <th>WEDN</th>
                <th>THUR</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>

            <tr>
                <th>BREAKFAST</th>
                <td >Sprouts
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Idli-Sambhar
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                CornFlakes
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Uttpam
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                Channa-Chart
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >Fruits
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
                <td >
                 Parantha
                <br>
                Doodh <br>
                Dalia <br>
                Bread <br>
                Butter <br>
                </td>
            </tr>

            <tr>
                <th>LUNCH</th>
                <td >
                <br>
               
                   Alu-Sabzi
                    
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                
                <td >
                <br>
                Alu-Gobi
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Chole
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                
                   Pyaz-Tamatar
                
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Shahi-Panner
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Tawa-Veg
                <br>Roti <br> Pickle<br> Salad <br><br>
                <td >
                <br>
                Moong-Dal
                <br>Roti <br> Pickle<br> Salad <br><br>

                </td>
            </tr>

            <tr>
                <th>DINNER</th>
                <td >
                <br>
                Arhar-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Kheer
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Veg-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Gulab-Jamun
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Egg-Curry
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Malpua
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Masoor-dal
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Rasbarry
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Kadi-Pakodi
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Icecream
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Rajma
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Mala-Burfi
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                <td >
                <br>
                Malai-Kofta
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <br>
                Chocolate
                <br>Roti <br> Pickle<br> Pyaaz <br><br>
                
            </tr>
        </thead>
    </table>
</div>
<br>
<div class="comments">Add Comments</div>

</div>
{% endblock %}


