<style>
.content{
	margin:auto;
}

.profilebody: before{
	content :' ';
	background
	width: 100px;
	height: 500px;
}

</style>
{% extends 'base.html' %}
   

{% block content %}
{% if user.is_authenticated %}
    <p class="username">Welcome, {{ user.username }}! </p>
    {% endif %}
<div class="profilebody">
<h3 style="text-align: center; font-size:30px;">Hey! Your chart for this week</h3>

<br>
<div class="chart" style="padding-left: 300px;">
<table class="table table-success table-striped" style="width: 70%; height: 400px; text-align: center;">
		<thead>
			<tr>
				<th>Day</th>
				<th>Breakfast</th>
				<th>Lunch</th>
				<th>Dinner</th>
			</tr>
		</thead>
		<tbody>
			{% for day, meals in menu_chart.items %}
				<tr>
					<td >{{ day }}</td>
					{% for meal, item in meals.items %}
						<td>{{ item }} <br> </td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
   
{% endblock %}