<style>
.TOPNAV .PROFILE  {
    border-style: solid;
    border-radius: 100px;
}

</style>
{% extends 'base.html' %}
   

{% block content %}
<h3>Hey! Your chart for this week</h3>
<table>
		<thead>
			<tr>
				<th>Day</th>
				<th>Breakfast</th>
				<th>Lunch</th>
				<th>Dinner</th>
			</tr>
		</thead>
		<tbody>
			{% for day, meals in menu_chart.items %}
				<tr>
					<td>{{ day }}</td>
					{% for meal, item in meals.items %}
						<td>{{ item }} <br> </td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

   
{% endblock %}