<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messy</title>
    <style>
        *{
    background-color: bisque;
}

.Meesy{
    font-style: italic;
    text-align: center;
}

.TOPNAV a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-left: 20px;
}

.TOPNAV .PROFILE{
    border-style: solid;
    border-radius: 9px;
}

.details .followers{
    
}
    </style>
</head>
<body>
    <!--FORMAT-->
    <div class="Meesy"><h1>Meesy</h1></div>

    <div class="TOPNAV">
        <a href="/" class="HOME">HOME</a>
        <a href="profile" class="PROFILE">PROFILE</a>
        <a href="createchart" class="CREATECHART">CREATE CHART</a>
        <a href="uploadmenu" class="UPLOADDISHES">UPLOAD DISHES</a>
    </div>

    <br><br><br><br><br>
    <div class="details">
        <div class="username">USERNAME</div>
        <div class="followers">
            <div class="11">11</div>
            <div class="Followers">Followers</div>
        </div>
        <div class="following">
            <div class="111">111</div>
            <div class="Following">Following</div>
        </div>
    </div>

</body>
</html>