<style>
.TOPNAV .UPLOADDISHES  {
    border-style: solid;
    border-radius: 100px;
}

</style>
{% extends 'base.html' %}

{% block content %}
<br>


<h3>NORMAL-VEGGIES</h3>
<form   method="POST">
    {% csrf_token %}
    <ul>
    <div class="lass">
        {% for item in dataset1 %}
            <li> {{item.fullname}} <a href="delete/{{ item.id }}">delete</a> </li>
        {% endfor %}
    </div>
    </ul>
    {{form1.as_p}}
    <button type="submit" class="btn btn-primary" name="save" value="submit">New</button>

<br>
<h3>GRAVY-SABJI</h3>
<form method="POST">
    {% csrf_token %}
    
    <ul>
    <div class="lass">
        {% for item in dataset2 %}
            <li> {{item.gravy}} <a href="delete2/{{ item.id }}">delete</a> </li>
        {% endfor %}
    </div>
    </ul>

    {{form2.as_p}}
    <button type="submit" class="btn btn-primary" name="save" value="submit">New</button>

<br>
<h3>SNACKS</h3>
<form   method="POST">
    {% csrf_token %}
    
    <ul>
    <div class="lass">
        {% for item in dataset3 %}
            <li> {{item.snacks}} <a href="delete3/{{ item.id }}">delete</a></li>
        {% endfor %}
    </div>
    </ul>

    {{form3.as_p}}
    <button type="submit" class="btn btn-primary" name="save" value="submit">New</button>

<br>
<h3>SWEETS</h3>
<form   method="POST">
    {% csrf_token %}
    
    <ul>
    <div class="lass">
        {% for item in dataset4 %}
            <li> {{item.sweets}} <a href="delete4/{{ item.id }}">delete</a></li>
        {% endfor %}
    </div>
    </ul>

    {{form4.as_p}}
    <button type="submit" class="btn btn-primary" name="save" value="submit">New</button>

</form>

{% endblock %}

